
h3{
    color:skyblue;
}

p{
    font-size: 14pt;
}

h4{
    color:darkgrey;
}

body{
    background-color: lightgray;
}

#leftbox{
    background-color: white;
    margin-top: 25px;
    padding-left: 25px;
}

#rightbox{
    background-color: white;
    margin-top: 25px;

}

#leftimage{
    width: 300px;
    height: 300px;

}

#rightimage{
    width: 200px;
    height: 200px;

}

